body{
    background-color: #23242a;
}
.header{
    margin-bottom: 4rem;
    background-color: white;
    border-bottom: 1px solid black;
}
.vistaCarrito{
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
.producVista{
    background-color: white;
    display:grid;
    margin: absolute;
    padding: absolute 30px;
    border-radius: 30px;
    border: 1px solid black;
}
.botonBusqueda:hover{
    background-color: #23242a;
    color:white;
}
.space {
    margin:30px;
    width: 5%;
    height: 4rem;

}